.idea/
*.csv
nbproject/
.openshift/
.sass-cache/
public/
logs/
files/
bower_components/
node_modules/
upload/
npm-debug.log

/.project
*.js~
*.json~
restart.sh
*.sassc
\.vscode/
.vs/

.DS_Store
.directory
data
dockerFiles
nodemon.log
npmWatch.log
fluentd
check\.sh
looptest\.sh
